<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="teal-text">Cadastro de Discente</h4>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <label>Filtro</label>
            <input ng-model="filtro.nome" type="text" class="validate" placeholder="Nome" autofocus>
        </div>
        <div class="col s2">
            <label>Somente ativos</label>
            <div class="switch" style="margin-top: 10px;">
                <label>
                    <input type="checkbox" ng-model="filtro.status" ng-click="checkAtivos()">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="col s4">
            <button ng-click="doNew()" class="btn waves-effect teal darken-3 right">Novo Discente</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="bordered striped highlight responsive-table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Matrícula</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in discentes | filter : filtro" ng-click="doEdit(row)" style="cursor: pointer">
                        <td>{{ row.id }}</td>
                        <td>{{ row.nome }}</td>
                        <td>{{ row.matricula }}</td>
                        <td>{{ row.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal-discente" class="modal modal-fixed-footer" style="max-width: 900px; width: 90%;">
    <div class="modal-content">
        <div class="row">
            <div class="col s8">
                <h4 class="teal-text">Discente</h4>
            </div>
            <div class="col s2">
                <div class="switch">
                    <label>
                        Ativo
                        <input type="checkbox" ng-model="discente.status" ng-click="!discente.status">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
            <div class="col s2">
                <button type="button" ng-click="delDiscente(discente)" class="btn btn-small teal darken-3 waves-effect right">Excluir</button>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <form class="" action="index.html" method="post">
                    <div class="input-field col s6">
                        <label>Nome</label>
                        <input ng-model="discente.nome" type="text" class="validate" autofocus>
                    </div>
                    <div class="input-field col s6">
                        <label>Matrícula</label>
                        <input ng-model="discente.matricula" type="text" class="validate">
                    </div>
                    <div class="input-field col s6">
                        <label>Endereço</label>
                        <input ng-model="discente.Endereco" type="text" class="validate">
                    </div>
                    <div class="input-field col s6">
                        <label>Email</label>
                        <input ng-model="discente.email" type="email" class="validate">
                    </div>
                    <div class="input-field col s6">
                        <label>CPF</label>
                        <input ng-model="discente.cpf" type="text" class="validate">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect teal darken-3" ng-click="setDiscente(discente)">Salvar</button>
        <button class="btn-flat waves-effect" ng-click="doCancel()">Cancelar</button>
    </div>
</div>
