<div style="margin-top:120px;">
    <div class="container">
        <h1 class="text-info">Bem-vindo ao CAD!</h1>
    </div>
</div>
<br>
<div class="container">
    <div class="row" ng-if="isAuthenticated">
        <div class="col-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h1 class="card-title pull-left" style="font-size: 64px; margin-bottom: 0px;"><i class="fa fa-briefcase"></i></h1>
                    <h1 class="card-title pull-right" style="font-size: 64px; margin-bottom: 0px;">{{ projetos.length }}</h1>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
                <div class="card-header">Projetos cadastrados</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h1 class="card-title pull-left" style="font-size: 64px; margin-bottom: 0px;"><i class="fa fa-users"></i></h1>
                    <h1 class="card-title pull-right" style="font-size: 64px; margin-bottom: 0px;">{{ discentes.length }}</h1>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
                <div class="card-footer">Discentes cadastrados</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h1 class="card-title pull-left" style="font-size: 64px; margin-bottom: 0px;"><i class="fa fa-users"></i></h1>
                    <h1 class="card-title pull-right" style="font-size: 64px; margin-bottom: 0px;">{{ docentes.length }}</h1>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
                <div class="card-header">Docentes cadastrados</div>
            </div>
        </div>
    </div>
    <br>
    <div class="row"  ng-if="isAuthenticated">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Novidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ajuda</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Projetos de pesquisa e extensão</h4>
                    <p class="card-text">O módulo de pesquisas já está disponível! <b>Agora você pode gerenciar seus projetos de pesquisa e extensão através de uma interface incrível e simples.</b> O CAD Web fornece ferramentas para gestão de participantes, atividades, tarefas e anexos dos seus projetos. Aproveite!</p>
                    <a href="#!/projeto" class="btn btn-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ir para projetos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="row" ng-if="!isAuthenticated">
        <div class="col-6">
            <!-- <i class="material-icons">send</i> -->
            <h5 class="text-info">Administrativo</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-6">
            <h5 class="text-info">Projetos</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-6">
            <h5 class="text-info">Reuniões</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-6">
            <h5 class="text-info">Ensino</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>

<br>
<br>

<div>
    <div class="container" ng-if="!isAuthenticated">
        <h5>"Sit amet, consectetur!" <small> ~ Jon Doe</small></h5>
    </div>
</div>
<div class="container" ng-if="!isAuthenticated">
    <div class="row">
        <div class="col-4">
            <div class="icon-block">
                <h4 class="icon text-info"><i class="fa fa-bolt fa-2x"></i></h4>
                <h5 class="center">Speeds up development</h5>
                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
        </div>

        <div class="col-4">
            <div class="icon-block">
                <h4 class="icon text-info"><i class="fa fa-users fa-2x"></i></h4>
                <h5 class="center">User Experience</h5>
                <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users.</p>
            </div>
        </div>

        <div class="col-4">
            <div class="icon-block">
                <h4 class="icon text-info"><i class="fa fa-dashboard fa-2x"></i></h4>
                <h5 class="center">Easy to work with</h5>
                <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
