<div class="container" ng-if="!novoProjeto">
    <div class="row">
        <div class="col s12">
            <h4 class="teal-text">Projetos de pesquisa</h4>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <label>Filtro</label>
            <input ng-model="filtro.nome" type="text" class="validate" placeholder="Nome" autofocus>
        </div>
        <div class="col s2">
            <!-- <label>Somente ativos</label>
            <div class="switch" style="margin-top: 10px;">
                <label>
                    <input type="checkbox" ng-model="filtro.isAtivo" ng-click="filtro.isAtivo = (!filtro.isAtivo ? undefined : true)" ng-init="filtro.isAtivo = true">
                    <span class="lever"></span>
                </label>
            </div> -->
        </div>
        <div class="col s4">
            <button ng-click="doNewProjeto()" class="btn waves-effect teal darken-3 right" style="margin-top: 20px;">Novo Projeto</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="bordered striped highlight responsive-table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Participantes</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in pesquisas | filter : filtro" ng-click="doEditPesquisa(row)" style="cursor: pointer">
                        <td>{{ row.id }}</td>
                        <td>{{ row.nome }} {{ row.sobreNome }}</td>
                        <td>{{ row.participantes.length }}</td>
                        <td>{{ row.status }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container" ng-if="novoProjeto">
    <div class="row">
        <div class="col s6">
            <h4 class="teal-text">Projeto de pesquisa</h4>
        </div>
        <div class="col s6">
            <div class="right" style="margin: 15px">
                <button class="btn waves-effect teal darken-3" ng-click="setPesquisa(pesquisa)">Salvar</button>
                <button class="btn-flat waves-effect" ng-click="doCancelPesquisa()">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <label>Nome</label>
            <input ng-model="pesquisa.nome" type="text" class="validate" autofocus>
        </div>
        <div class="input-field col s3">
            <label>Início</label>
            <input ng-model="pesquisa.dataInicio" type="date" class="validate">
        </div>
        <div class="input-field col s3">
            <label>Fim</label>
            <input ng-model="pesquisa.dataFim" type="date" class="validate">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s10">
            <label>Descrição</label>
            <input ng-model="pesquisa.descricao" type="text" class="validate">
        </div>
        <div class="input-field col s2">
            <label>Semestre</label>
            <input ng-model="pesquisa.semestre" type="text" class="validate">
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col s10">
            <h5 class="teal-text">Participantes</h5>
        </div>
        <div class="col s2">
            <button ng-click="doNewParticipante()" class="btn btn-small waves-effect teal darken-3 right" style="margin: 10px">Adicionar</button>
        </div>
        <!-- <div class="col s2">
            <h5 class="teal-text">Coordenação</h5>
        </div> -->
    </div>
    <div class="row">
        <div class="col s12">
            <table class="bordered striped highlight responsive-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th style="width: 100px;">Tipo</th>
                        <th style="width: 200px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in pesquisa.participantes | filter : filtro" style="cursor: pointer">
                        <td>{{ row.nome }}</td>
                        <td>{{ row.tipo }}</td>
                        <td style="text-align: right">
                            <i title="Coordenação" class="material-icons icon-table" ng-click="row.coordenador = !row.coordenador" ng-style="row.coordenador && {'color': 'teal'}">person</i> &nbsp;&nbsp;&nbsp;
                            <i title="Comissão" class="material-icons icon-table" ng-click="row.comissao = !row.comissao" ng-style="row.comissao && {'color': 'teal'}">people</i> &nbsp;&nbsp;&nbsp;
                            <i title="Remover" class="material-icons icon-table" ng-click="remParticipante($index)" style="color: black;">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="col s4">
            <table class="bordered striped highlight responsive-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in participantes | filter : row.coordenador == 1">
                        <td>{{ row.nome }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <br>

            <h5 class="teal-text">Comissão</h5>
            <table class="bordered striped highlight responsive-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in pesquisas | filter : filtro" ng-click="doEdit(row)" style="cursor: pointer">
                        <td>{{ row.nome }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col s10">
            <h5 class="teal-text">Atividades</h5>
        </div>
        <div class="col s2">
            <button ng-click="doNewAtividade()" class="btn btn-small waves-effect teal darken-3 right" style="margin: 10px">Adicionar</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="bordered striped highlight responsive-table">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th>Participantes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in pesquisas | filter : filtro" ng-click="doEdit(row)" style="cursor: pointer">
                        <td>{{ row.descricao }}</td>
                        <td>{{ row.data }}</td>
                        <td>{{ row.participantes.length }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col s10">
            <h5 class="teal-text">Tarefas</h5>
        </div>
        <div class="col s2">
            <button ng-click="doNewTarefa()" class="btn btn-small waves-effect teal darken-3 right" style="margin: 10px">Adicionar</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="bordered striped highlight responsive-table">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th>Participantes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in pesquisas | filter : filtro" ng-click="doEdit(row)" style="cursor: pointer">
                        <td>{{ row.descricao }}</td>
                        <td>{{ row.data }}</td>
                        <td>{{ row.participantes.length }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col s10">
            <h5 class="teal-text">Anexos</h5>
        </div>
        <div class="col s2">
            <button ng-click="doNewAnexo()" class="btn btn-small waves-effect teal darken-3 right" style="margin: 10px">Adicionar</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="bordered striped highlight responsive-table">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th>Participantes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in pesquisas | filter : filtro" ng-click="doEdit(row)" style="cursor: pointer">
                        <td>{{ row.descricao }}</td>
                        <td>{{ row.data }}</td>
                        <td>{{ row.participantes.length }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>
<br>
<br>

<!-- Modal Structure -->
<div id="modal-participante" class="modal modal-fixed-footer" style="max-width: 900px; width: 90%;">
    <div class="modal-content">
        <div class="row">
            <div class="col s8">
                <h4 class="teal-text">Adicionar Participante</h4>
            </div>
            <div class="input-field col s4 rigth" style="margin-top: 0px">
                <input ng-model="radioTipoParticipante" type="radio" ng-value="0" id="dis" selected/>
                <label for="dis">Discentes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input ng-model="radioTipoParticipante" type="radio" ng-value="1" id="doc" />
                <label for="doc">Docentes</label>
            </div>
        </div>
        <div class="row" ng-if="radioTipoParticipante == 0">
            <div class="col s12">
                <table class="bordered striped highlight responsive-table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in discentes | filter : filtro" ng-click="doAddParticipante(row, 0)" style="cursor: pointer">
                            <td>{{ row.id }}</td>
                            <td>{{ row.nome }}</td>
                            <td>{{ row.matricula }}</td>
                            <td>{{ row.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-if="radioTipoParticipante == 1">
            <div class="col s12">
                <table class="bordered striped highlight responsive-table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in docentes | filter : filtro" ng-click="doAddParticipante(row, 1)" style="cursor: pointer">
                            <td>{{ row.id }}</td>
                            <td>{{ row.nome }}</td>
                            <td>{{ row.matricula }}</td>
                            <td>{{ row.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal-atividade" class="modal modal-fixed-footer" style="max-width: 900px; width: 90%;">
    <div class="modal-content">
        <div class="row">
            <div class="col s10">
                <h4 class="teal-text">Adicionar Atividade</h4>
            </div>
            <div class="input-field col s2 rigth" style="margin-top: 0px">
                <input ng-model="atividade.reuniao" type="checkbox" ng-selected="false" id="reu" />
                <label for="reu">Reunião</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label>Descricao</label>
                <input ng-model="atividade.descricao" type="text" class="validate" autofocus>
            </div>
            <div class="input-field col s9">
                <label>Local</label>
                <input ng-model="atividade.local" type="date" class="validate">
            </div>
            <div class="input-field col s3">
                <label>Data</label>
                <input ng-model="atividade.data" type="date" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="col s10">
                <h5 class="teal-text">Participantes</h5>
            </div>
            <div class="col s2">
                <button ng-click="doNewParticipante()" class="btn btn-small waves-effect teal darken-3 right" style="margin: 10px">Adicionar</button>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table class="bordered striped highlight responsive-table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in docentes | filter : filtro" ng-click="doAddParticipante(row, 1)" style="cursor: pointer">
                            <td>{{ row.id }}</td>
                            <td>{{ row.nome }}</td>
                            <td>{{ row.matricula }}</td>
                            <td>{{ row.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect teal darken-3" ng-click="doAddAtividade(usuario)">Salvar</button>
        <button class="btn-flat waves-effect" ng-click="doCancel()">Cancelar</button>
    </div>
</div>
