<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="cyan-text">Cadastro de Usuário</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button ng-click="doNew()" class="btn waves-effect cyan darken-3 right">Novo Usuário</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="bordered striped highlight responsive-table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in users" ng-click="doEdit(row)" style="cursor: pointer">
                        <td>{{ row.id }}</td>
                        <td>{{ row.name_f }} {{ row.name_l }}</td>
                        <td>{{ row.login }}</td>
                        <td>{{ row.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal-usuario" class="modal modal-fixed-footer" style="max-width: 900px; width: 90%;">
    <div class="modal-content">
        <div class="row">
            <div class="col s10">
                <h4 class="cyan-text">Usuário</h4>
            </div>
            <div class="col s2">
                <button type="button" ng-click="doDelete(user)" class="btn btn-small cyan darken-3 waves-effect right">Excluir</button>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <form class="" action="index.html" method="post">
                    <div class="input-field col s6">
                        <label>Nome</label>
                        <input ng-model="user.name_f" type="text" class="validate" autofocus>
                    </div>
                    <div class="input-field col s6">
                        <label>Sobrenome</label>
                        <input ng-model="user.name_l" type="text" class="validate">
                    </div>
                    <div class="input-field col s6">
                        <label>Login</label>
                        <input ng-model="user.login" type="text" class="validate">
                    </div>
                    <div class="input-field col s6">
                        <label>Email</label>
                        <input ng-model="user.email" type="email" class="validate">
                    </div>
                    <div class="input-field col s6">
                        <label>Senha</label>
                        <input ng-model="user.passw" type="password" class="validate">
                    </div>
                    <div class="input-field col s6">
                        <label>Confirmação de senha</label>
                        <input ng-model="user.passw_confirm" type="password" class="validate">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect cyan darken-3" ng-click="doSave(user)">Salvar</button>
        <button class="btn-flat waves-effect" ng-click="doCancel()">Cancelar</button>
    </div>
</div>
