<ol class="breadcrumb" style="margin-top:80px;">
    <li class="breadcrumb-item">Administrativo</a></li>
    <li class="breadcrumb-item active text-info">Cadastro de Usuários</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Cadastro de Usuários</h4>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-5">
            <label>Filtro</label>
            <input class="form-control" ng-model="filtro.nome" type="text" placeholder="Nome" autofocus>
        </div>
        <div class="form-group col-4">
            <label>Status</label>
            <div class="btn-group">
                <label class="btn btn-info" ng-model="filtro.isAtivo" uib-btn-radio="true">&nbsp;Ativo&nbsp;</label>
                <label class="btn btn-info" ng-model="filtro.isAtivo" uib-btn-radio="undefined">&nbsp;Todos&nbsp;</label>
                <label class="btn btn-info" ng-model="filtro.isAtivo" uib-btn-radio="false">Inativo</label>
            </div>
        </div>
        <div class="form-group col-3">
            <button class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#modal-usuario" ng-click="usuario = {isAtivo:true}" style="margin-top:32px">Novo Usuario</button>
        </div>
    </div>
    <div class="row" ng-if="usuarios.length > 0">
        <div class="col-12">
            <table class="table table-s table-hover">
                <thead>
                    <tr class="bg-info text-light">
                        <th>#</th>
                        <th>Nome</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in usuarios | filter : filtro" ng-click="getUsuario(row.id)" style="cursor: pointer">
                        <td>{{ row.id }}</td>
                        <td>{{ row.nome }}</td>
                        <td>{{ row.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal-usuario" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-6">
                        <label>Nome</label>
                        <input ng-model="usuario.nome" type="text" class="form-control" tabindex="1" autofocus>
                    </div>
                    <div class="form-group col-2">

                    </div>
                    <div class="form-group col-4">
                        <div class="btn-group pull-right" style="margin-top:32px">
                            <label class="btn btn-info" ng-model="usuario.isAtivo" uib-btn-radio="true">&nbsp;Ativo&nbsp;</label>
                            <label class="btn btn-info" ng-model="usuario.isAtivo" uib-btn-radio="false">Inativo</label>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>Sobrenome</label>
                        <input ng-model="usuario.sobreNome" type="text" class="form-control" tabindex="2">
                    </div>
                    <div class="form-group col-6">
                        <label>Email</label>
                        <input ng-model="usuario.email" type="email" class="form-control" tabindex="3">
                    </div>
                    <div class="form-group col-3">
                        <label>&nbsp;</label>
                        <button class="btn btn-outline-info btn-block" ng-click="alteracaoSenha = !alteracaoSenha; usuario.senha = ''" tabindex="4">Alterar senha</button>
                    </div>
                    <div class="form-group col-9">

                    </div>
                    <div class="form-group col-6" ng-show="alteracaoSenha">
                        <label>Nova senha</label>
                        <input ng-model="usuario.senha" type="password" class="form-control" tabindex="5">
                    </div>
                    <div class="form-group col-6" ng-show="alteracaoSenha">
                        <label>Confirmação de senha</label>
                        <input ng-model="usuario.senha_confirm" type="password" class="form-control" tabindex="6">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <label></label>
                <button type="button" class="btn btn-info btn-block col-2" ng-click="setUsuario(usuario)">Salvar</button>
                <label></label>
                <button type="button" class="btn btn-light btn-block col-2" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
